@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDF0F1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

body {
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    margin-left: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);

}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    background-color: rgb(41, 42, 48);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 300px;
    height: 150px;
    border-radius: 5px;
    transition: 0.3s;
}

.card-content {
    transition: 0.3s;
    margin: 10px;
}

p, h2 {
    color: white;
}
